page-network-results {
    ion-select {
        max-width: 100%;
        width: 100%;
        }
        
        .item-select ion-label {
        max-width: 75px;
        min-width: 75px;
        }
        
        #select-option {
        margin-right: auto;
        width: 100%;
        }
}
