<!-- Generated template for the SurveyRepeatQuestionComponent component -->
<div *ngIf="repeatQuestion">
  <!-- question label -->
  <survey-question [question]="repeatQuestion" [subProperty]="repeat" labelOnly></survey-question>
  <!-- repeats -->
  <div *ngFor="let repeat of repeatArray">
    <div class="repeat-section" *ngIf="repeatQuestion.options.repeatDisplay == 'sections'">
      {{repeat}}
    </div>
    <survey-question [question]="repeatQuestion" [subProperty]="repeat" [repeatLabel]="repeat" noLabel></survey-question>
  </div>

</div>