survey-repeat-question {
    .question-label{
        // color:color($colors,primary);
        font-size: 1.6rem;
        padding: 5px;
        display: flex;
    }
    .question-number{
        margin-right:5px;
        font-size: x-small
    }
}
