page-surveys-overview {
    .experiment-title{
        color: rgba(255,255,255,0.9);
        padding:5px;
        font-size: large;
    }
    .title-icon{
        color:rgba(255,255,255,0.9);
        font-size: x-large;
        padding-top:5px;
    }
    .card{
        margin-top:10px;
        width:100%;
        padding:0;
    }
    h3{
        background-color: color($colors,secondary-light);
        padding:5px;
        font-weight: 700!important;
    }
    .survey-details{
        padding:5px;
        border-bottom: 1px solid rgba(0,0,0,0.6)
    }
}
