survey-intro {
    .swipe{
        color:rgba(255,255,255,0.9);
        margin:20px 0;
        img{
            max-height: 80px;
        }
    }
    h2{
        color: rgba(255,255,255,0.9);
        font-size:2.4rem;
        margin-top:1.8rem;
    }
    h3{
        color: rgba(255,255,255,0.9);
        font-size: medium;
        margin-bottom:30px;
    }
}
