page-experiment-detail {
    h1{
        color:rgba(255,255,255,0.9);
        font-size:large;
        margin-bottom:20px;
    }
    h2{
        color:rgba(255,255,255,0.9);
        font-size: medium
    }
    .card{
        background-color: white;
        padding: 5px;
        margin: 0;
    }
}
