page-survey-grow-plus1 {
    h2,h3{
        color:rgba(255,255,255,0.9);
    }
    h3{
        margin-bottom: 30px;
        font-size: medium
    }
    p{
        color:color($colors,primary);
        padding:5px;
    }
}
