<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-border>

    <ion-list-header>
      <ion-icon name='person' item-start></ion-icon>
      User Profile
    </ion-list-header>
    <div *ngIf="!user">
      <ion-item>
        User not signed in
        <button ion-button item-end (click)="signIn()">
          Sign in
        </button>
      </ion-item>
    </div>

    <div *ngIf="user">
      <ion-item>
        <ion-note>Name</ion-note>
        <div item-end>{{user.displayName}}</div>
        <button ion-button item-end (click)="signOut()">
          Sign out
        </button>
      </ion-item>
      <ion-item *ngIf="!showPasswordForm">
        <ion-note>Password</ion-note>
        <button ion-button item-end (click)="toggleChangePassword()">
          <ion-icon name='lock' item-start></ion-icon>
          Change Password
        </button>
      </ion-item>
    </div>
  </ion-list>
  <ion-card color="secondary-dark" *ngIf="showPasswordForm">
    <ion-input type="password" [(ngModel)]="oldPassword" placeholder="Old Password"></ion-input>
    <ion-input type="password" [(ngModel)]="newPassword" placeholder="New Password"></ion-input>
    <ion-input type="password" [(ngModel)]="newPassword2" placeholder="Confirm New Password"></ion-input>
    <div style="display: flex">
        <button style="flex:1" ion-button color="secondary-light" (click)="changePassword()">Change</button>
        <button ion-button color="red-dark" (click)="toggleChangePassword()">Cancel</button>
    </div>
  </ion-card>
  <p>{{errMsg}}</p>



</ion-content>