// http://ionicframework.com/docs/v2/theming/

@import "../theme/custom-icons";


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.primary-dark{
    background-color:color($colors,primary-dark);
    color:rgba(255,255,255,0.9)
}
.subtle-text{
    color:rgba(255,255,255,0.8);
    font-size: x-small
}
p{
    color:rgba(255,255,255,0.9);
}
.item{
    background-color:rgba(255,255,255,0.9)
}
.dev-note{
    width: 100%;
    background-color: lightskyblue;
    opacity:0.9;
    color:black;
    margin:1em 0;
    padding:5px;
}
.pointer{
    cursor: pointer;
}

// survey theming
.survey{
    .fixed-content{
        background-color:#e8e8e8
    }
    .card{
        background-color: white;
    }
    .label{
        color:black
    }
    .select-text, .text-input{
        color:color($colors,primary-dark)
    }
}

