// http://ionicframework.com/docs/v2/theming/

@import "../theme/custom-icons";


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.primary-dark{
    background-color:color($colors,primary-dark);
    color:rgba(255,255,255,0.9)
}
.subtle-text{
    color:rgba(255,255,255,0.8);
    font-size: x-small
}
p{
    color:rgba(255,255,255,0.9);
}

.item{
    background-color:rgba(255,255,255,0.9)
}
.dev-note{
    width: 100%;
    background-color: lightskyblue;
    opacity:0.9;
    color:black;
    margin:1em 0;
    padding:5px;
}
.pointer{
    cursor: pointer;
}
.underline{
    border-bottom: 1px solid rgba(255,255,255,0.9);
    padding-bottom: 8px;
}
.card, .card-md{
    background-color: white;
    padding: 5px;
    margin: 0;
}

// survey theming
.survey{
    .fixed-content{
        background-color:#e8e8e8
    }
    .label{
        color:black
    }
    .select-text, .text-input{
        color:color($colors,primary-dark)
    }
    .question, .hint{
        padding-left: 16px;
    }
    .hint{
        font-size: smaller;
        font-style: italic;
        color:rgba(0,0,0,0.7);
        margin-bottom:5px;
    }
    .sub-item{
        // list of select elements, indented and less spacing
        padding-left:32px;
        .label{
            margin:0;
        }
        .select{
            padding:0 8px 0 6px;
        }
        .input-wrapper{
            border-bottom:1px solid rgba(0,0,0,0.4);
            border-collapse: collapse;
        }
    }
}

