page-data-collect {

    .page-header{
        width:100%;
        display:flex;
        justify-content: space-between;
        color:rgba(255,255,255,0.6)
    }
    .survey-title{
        background-color: color($colors,secondary-dark);
        padding:5px;
    }
    .survey-image{
        flex:1;
        background-color: rgba(255,255,255,0.9);
        height:300px;
    }
    .survey-description{
        padding:5px
    }
    .card{
        background-color:rgba(255,255,255,1);
    }
    .my-research, .available-experiments{
        flex:1;
    }
    
    .my-research{
        background-color:color($colors,primary-light);
    }
    .available-experiments{
        background-color: color($colors,secondary-light);
    }
    ion-slide.swiper-slide {
        align-items: flex-start;
    }
    h2{
        font-size: large
    }
}
