page-farmer-select {
    .item{
        border-bottom: 1px solid rgba(0,0,0,0.3);
        border-collapse: collapse;
        cursor: pointer;
    }
    .farmers-heading{
        height:3.6rem;
        line-height: 3.6rem;
        margin:4px!important;
        flex:1
    }
    .sort-field{
        display: inline;
        font-weight: 700;
    }
    .heading-row{
        border-bottom: 2px solid black;
    }
    .row{
        border-bottom: 1px solid rgba(0,0,0,0.5); 
    }
    .farmer-row{
        :hover{
            background-color:color($colors,secondary-light)
        }
    }
}
