page-farmer-select {
    .item{
        border-bottom: 1px solid rgba(0,0,0,0.3);
        border-collapse: collapse;
        cursor: pointer;
    }
    .farmers-heading{
        height:3.6rem;
        line-height: 3.6rem;
        margin:4px!important;
        flex:1
    }
}
